
{% extends 'main/index.html' %}


{% block content%}
{% load static %}


<div class="contact">
	

<p><h1><p><u>Contact For Any Assistance</u></p></h1></p>

<div>
	<p><img src="{% static '/main/images/chittip.jpg' %}" alt="This is my photo" style="height:200px;width:200px;float:left" align="middle" hspace="20"></p>
	</div>
	<section>
<address>
<div>
<table><h3><i><strong>
<align="center">

Name         : Chittinaidu peesa<br/>
E-Mail       : chitti.peesa@gmail.com<br/>
Comany Name  : Accenture<br/>
Address      : Hyderabad<br/>
mobile       : 8106885798<br>
Website      :www.pandagulu.com<br/>
Pincode      :500081<br/>
</section>
</address>
</i></strong>
</h3>
</i>
</div>
</table>
</div>

{% endblock %}