{% extends 'main/index.html' %}


{% block content%}
{% load static %}

<font color="#000000">


<h3><u>EVENTS SCHEDULED ON FESTIVAL DAYS</h3></u>

<p>1.Starting festival from 18/04/2019 to 23/04/2019
</br></br>

   2. On 18/04/2019 <font color="red">"DEVARNI TECHUTA"</font> on this day we bring our godesses ammavaru into our village in to the mandapam.
   </br></br>

   3.From this day we will start our celebrations where the people from the villages are not supposed to stay out side of the village, and the relatives come one on another.
   <br><br>

   4.On 19/04/2019 "PUJA" will be started for the godesses. And on the same day we are having and entertainment of <font color="red">"SHIV-BAGOTAM"</font> from ranastalam group .
   <br><br>

   5.On 20th april 2019 event of <font color="red"> "KOIEE DANCE and DOOM DADAKA "</font> programs are conducted from the management and it will be starts from evening 5 pm.
   <br><br>

   6. On 21st april godesses will have different types of pujas with the chants and akanda deeparadhana every day .
   <br><br>

   7.On the same day the youth of "KORLAM" IS conducting <font color="red">"DANCE PROGRAM" </font> from natarajan team.
   <br><br>

   8.On the last (23/04/2019) this is a wounderful day of our festivals because
   <br><br>

   9. <font color="blue">Images Of Our Festivals
   <br>  
   

   </p>
   </font>
   <img src="{% static '/main/images/km.jpg' %}" width=350 height=350>
   <img src="{% static '/main/images/village.jpg' %}" width=350 height=350>
   <img src="{% static '/main/images/logo.jpg' %}" width=350 height=350>
   <img src="{% static '/main/images/my.jpg' %}" width=350 height=350>
   <img src="{% static '/main/images/dj3.jpg' %}" width=350 height=350>
   

{% endblock %}